<main>
    <section id="all-listings">
        <h1>Houses for rent</h1>
        {{#each houses}}
        <div class="card">
            {{> rent}}
        </div>
        {{else}}
        <div class="no-data-listing">
            <p class="no-offer">There are no housing offers found...</p>
        </div>
        {{/each}}
    </section>
</main>