<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Do not forget to change the path to the css file -->
    <title>Home Page</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">



        <nav>
            <a href="/">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/rent">Housing for rent</a></li>
                <!-- Guest users -->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <!-- Logged users -->
                <li><a href="/create">Create offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        {{{body}}}

        <footer>
            © 2021
        </footer>
    </div>

</body>

</html>